@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";
@import "themes/blue";

body {
    font-size: var(--font-size-m);
    line-height: var(--font-line-m);
    font-family: var(--font-family-main);
    color: var(--primary-color);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.app_redesigned {
    background: var(--bg-redesigned);
    min-height: 100vh;
    font-size: var(--font-size-m);
    line-height: var(--font-line-m);
    font-family: var(--font-family-text-redesigned);
    color: var(--text-redesigned);
}

.content-page {
    display: flex;
}

*::-webkit-scrollbar {
    width: 12px; /* ширина scrollbar */
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--card-bg); /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--inverted-primary-color); /* цвет плашки */
    border-radius: 20px; /* закругления плашки */
    border: 3px solid var(--primary-color); /* padding вокруг плашки */
}
