.app_blue_theme {
    --bg-color: #1973f0;
    --inverted-bg-color: #757575;

    --primary-color: #f5f4fb;
    --secondary-color: #fff;

    --inverted-primary-color: #fff;
    --inverted-secondary-color: #b6b6b6;
}
