.app.dark,
.app_modal.dark {
    --bg-color: #757575;
    --inverted-bg-color: #e8e8ea;

    --primary-color: #fff;
    --secondary-color: #494949;

    --inverted-primary-color: #727272;
    --inverted-secondary-color: #555555;
}
