.app_dark_theme {
    --bg-color: #757575;
    --inverted-bg-color: #e8e8ea;

    --primary-color: #fff;
    --secondary-color: #494949;

    --inverted-primary-color: #727272;
    --inverted-secondary-color: #555555;

    // redesigned
    --dark-bg-redesigned: #090f11;
    --bg-redesigned: #0c1214;
    --light-bg-redesigned: #151c1f;
    --text-redesigned: #dbdbdb;
    --hint-redesigned: #555555;
    --cancel-redesigned: #d95757;
    --save-redesigned: #6cd98b;
    --icon-redesigned: #74a2b2;
    --accent-redesigned: #5ed3f3;

    // skeleton
    --skeleton-color: #888787;
    --skeleton-shadow: #585858;

    // code
    --code-bg: #9f9f9f;

    // card
    --card-bg: #9d9c9c;

    // listbox
    --listbox-bg: #9d9c9c;
}
