.app.light {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #757575;

    --primary-color: #494949;
    --secondary-color: #fff;

    --inverted-primary-color: #fff;
    --inverted-secondary-color: #b6b6b6;
}
