.app_light_theme {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #757575;

    --primary-color: #494949;
    --secondary-color: #fff;

    --inverted-primary-color: #fff;
    --inverted-secondary-color: #b6b6b6;

    // redesigned
    --dark-bg-redesigned: #ffffff;
    --bg-redesigned: #eff5f6;
    --light-bg-redesigned: #e2eef1;
    --text-redesigned: #141c1f;
    --hint-redesigned: #adbcc0;
    --cancel-redesigned: #ff7777;
    --save-redesigned: #62de85;
    --icon-redesigned: #5ed3f3;
    --accent-redesigned: #00c8ff;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #f0f0f7;

    // listbox
    --listbox-bg: #f0f0f7;
}
