.navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

.navbarRedesigned {
    width: 100%;
    gap: 16px;
    padding: 16px;
}

.appName {
    width: var(--sidebar-width);
    margin-left: 15px;
}

.links,
.actions {
    margin-left: auto;
}
