.profileCard {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--inverted-bg-color);
    padding: 20px;
}

.editBtn {
    margin-left: auto;
}

.label {
    width: 100px;
}

.input {
    flex-grow: 1;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 200px;
}

.editing {
    border: 2px solid var(--inverted-primary-color);
}
